.navlink {
  text-decoration: none;
  font-size: 15px;
  padding: 2px 20px;
  color: #000;
}

.active {
  background-color: #000;
  border-radius: 2px;
  color: #FFF;
  text-decoration: none;
}

.navlink:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  text-align: left;
}

.nav {
  border-bottom: 1px solid black;
}
