.card {
  width: 25%;
  height: 300px;
  background-color: #111;
  color: #FFF;
  position: relative;
}

.card-text {
  padding-top: 10%;

}

.footer {
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
}

